In [7]:
5+6 #Run creates new shell after execution

11

In [8]:
5*9 # shift + enter creates new shell after execution

45

In [9]:
8-9# ctlr + enter

-1

# Comment

In [10]:
# Single line comment

# adding 2 nos

5+2

7

In [12]:
#Multi line comments

# '''
# line 1
# line 2
# line 3
# line 4
# '''

In [13]:
'''
'
"
'''

'\n\'\n"\n'

In [14]:
name ='Raja'

In [15]:
print(name)

Raja

In [16]:
name ="Raja"

In [17]:
print(name)

Raja

In [18]:
clg=st's John'

SyntaxError: invalid syntax (2231246652.py, line 1)

In [19]:
clg="st's John"

In [20]:
print(clg)

st's John

In [23]:
clg='st\'s John'

In [24]:
print(clg)

st's John

In [25]:
about='''Raja is working in Molex.He is working as as Product specialist and he also handle so many projects currently.
he '''

In [26]:
print(about)

Raja is working in Molex.He is working as as Product specialist and he also handle so many projects currently.
he

# control statements

In [27]:
if cond
 statement
else
 statement

SyntaxError: invalid syntax (2818528764.py, line 1)

In [40]:
x=0

In [41]:
if x>20:
    print("U can vote")
elif x<0 or x>100:
    print("Invalid")
elif x==0:
    print("U r just born")
else:
    print("U cannot vote")

U r just born

In [55]:
age=28
country="singapore"

In [56]:
if country=='India':
    if age>18:
        print("you can vote")
    else:
        print("You cannot vote")
else:
  print("follow ur country:{}std".format(country))

follow ur country:singaporestd

In [57]:
### Multiple if

In [60]:
if age>18:
    print(age)
if age==28:
    print("executed another if")

28
executed another if

# Day 2

In [1]:
print("Hello World")

Hello World

In [3]:
name="Raja"

In [4]:
print ("the name is",name)

the name is Raja

# Different methods to print

In [6]:
name="Raja"
age=27

#To print the name of RAja

print("The name is",name ,"and his age is",age)

The name is Raja and his age is 27

In [7]:
print("The name is {} and his age is {}".format(name,age))

The name is Raja and his age is 27

In [8]:
print("The name is {name} and his age is {27}")

The name is {name} and his age is {27}

In [9]:
print(f"The name is {name} and his age is {27}")

The name is Raja and his age is 27

In [10]:
price=8.9876

In [11]:
round(price,2)

8.99

In [12]:
print("the price is {}".format(round(price,2)))

the price is 8.99

# input function

In [18]:
name=input("Enter your name ")
age=input("Enter your age")

Enter your name RAja
Enter your age27

In [19]:
print(type(name))

<class 'str'>

In [21]:
print(type(age))

<class 'str'>

In [22]:
name=input("Enter your name ")
age=int(input("Enter your age"))
age=age+1

Enter your name Raja
Enter your age37

In [24]:
print(type(name))
print(type(age))
print("The age is",age)

<class 'str'>
<class 'int'>
The age is 37

# Range function

In [27]:
for x in range(1,101):
    print(x,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [28]:
for x in range(1,101,2):
    print(x,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [29]:
for x in range(2,101,2):
    print(x,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100