In [1]:
odd={1,3,5,7,9}
even={2,4,6,8,10}
prime={1,3,5,7}
composite={1,2,4,6,9}

In [2]:
odd.union(even)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
even.union(odd)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
odd.intersection(even)

set()

In [5]:
odd.intersection(composite)

{1, 9}

In [6]:
odd.difference(composite)

{3, 5, 7}

In [7]:
composite.difference(odd)

{2, 4, 6}

In [8]:
a={1,3,5,7,9}
b={1,2,4,5,6,8,9}

In [9]:
a-b

{3, 7}

In [10]:
b-a

{2, 4, 6, 8}

In [11]:
a&b

{1, 5, 9}

In [12]:
a!=b

True

In [15]:
#To write that are not common between both the sets

In [13]:
a.symmetric_difference(b)

{2, 3, 4, 6, 7, 8}

In [16]:
a^b

{2, 3, 4, 6, 7, 8}

In [21]:
#list to set conversion and vice versa

In [22]:
mydate=[1,2,3,3,4,5,6,6,7,8,8,9,9]

In [23]:
set(mydate)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
list(set(mydate))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
'''
Immutable
numbers
strings
tuple
Muable
list
Dictonary
set'''

'\nImmutable\nnumbers\nstrings\ntuple\nMuable\nlist\nDictonary\nset'

In [26]:
#list comphrension

In [28]:
#Format-
#[expr for x in collection/sequence]
#[expr for x in collection/sequence if cond]
#[expr for x in collection/sequence if cond1 &cond2]
#[expr for x in collection/sequence for y in]

In [29]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
[x for x in range(1,11) if x%2==1]

[1, 3, 5, 7, 9]

In [34]:
[x for x in range(1,11) if x%2==0]

[2, 4, 6, 8, 10]

In [36]:
[x for x in range(1,11) if x%2==0 and x>5]

[6, 8, 10]

In [37]:
#Calc circle area=3.14*r**2

In [39]:
radius=[5,6,8,9,11,12]
[3.14*r**2 for r in radius]

[78.5, 113.04, 200.96, 254.34, 379.94, 452.16]

In [40]:
x=[1,2,3,4,5]
y=[6,7,8,9,10]

In [41]:
[(a,b) for a in x for b in y]

[(1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (2, 10),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 10),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 10),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (5, 10)]

In [42]:
x=[1,2,3,4,5]
y=[6,7,8,9,10]
r=[7,9,11,13,15]

In [43]:
[a+b for a,b in zip(x,y)]

[7, 9, 11, 13, 15]

In [44]:
x=[1,2,3,4,5,5.5]
y=[6,7,8,9,10]

In [45]:
[a+b for a,b in zip(x,y)]

[7, 9, 11, 13, 15]

In [46]:
x=[1,2,3,4,5]
y=[6,7,8,9,10]
r=[7,9,11,13,15]

In [48]:
[a+b+c for a,b,c in zip(x,y,r)]

[14, 18, 22, 26, 30]

# Function

# 1.Modularity
2.Readability
3.Redundancy

In [50]:
def add_nums(x,y):
 res=x+y
 return res

In [51]:
add_nums(10,20)

30

In [53]:
add_nums(10)

TypeError: add_nums() missing 1 required positional argument: 'y'

In [54]:
def add_nums(x,y=0):#default value
 res=x+y
 return res

In [55]:
add_nums(10)

10

In [56]:
add_nums(10,20)

30

In [57]:
def add_nums(x=0,y=0):#default values
 res=x+y
 return res

In [58]:
add_nums()

0

In [59]:
add_nums(1,4,6,12,14)

TypeError: add_nums() takes from 0 to 2 positional arguments but 5 were given

In [65]:
def add_nums(x,y,*z):
    print("type of x:{} and value is: {}".format (type(x),x))
    print("type of y:{} and value is: {}".format (type(y),y))
    print("type of z:{} and value is: {}".format (type(z),z))

In [66]:
add_nums(1,3,4,5,6,7)

type of x:<class 'int'> and value is: 1
type of y:<class 'int'> and value is: 3
type of z:<class 'tuple'> and value is: (4, 5, 6, 7)

In [67]:
# * should be at the end of the arguent

In [69]:
def add_nums(x,y,*z):
    res=x+y+sum(z)
    return res

In [70]:
add_nums(1,3,5,7,20)

36

In [71]:
def add_nums(x,y=0,*z):
    res=x+y+sum(z)
    return res

In [72]:
add_nums(10)

10

In [73]:
add_nums(10,20)

30

In [74]:
add_nums(10,24,56)

90

In [75]:
add_nums(10,2,3,45,56)

116

In [80]:
def myfun(x,y,*z,**k):
    print("x:{},y:{},z:{},k:{}".format(x,y,z,k))

In [81]:
myfun(1,2,3,name='Raja',city="chennai",tech="python")

x:1,y:2,z:(3,),k:{'name': 'Raja', 'city': 'chennai', 'tech': 'python'}